
h1 {
    font-weight: bold;
    color: green;
    margin-left: 30px;
}

h2 {
    font-weight: bold;
    color: blue;
    margin-left: 40px;
}

.foto {
    width: 150px;
    height: 200px;
    margin-left: 60px;
    
}

p {
    margin-left: 50px;
    font-size: 20px;

}